---
import Layout from "@src/components/Layout.astro";
---

<Layout>
  <h1>Astro</h1>
  <p>
    This is the logged in section of the app! You can <a href="/app/notes/"
      >view your notes</a
    >.
  </p>
</Layout>
